body{
    font-family: "Circular";
}

.jumbotron .row{
    /* background-image: linear-gradient(to bottom left, #212121 0%, #131313 100%); */
    background-image: radial-gradient( ellipse at top right, #2e2e2e 0%, #2e2e2e 10%, #111111 60%, #0d0d0d 70%);
}

.fs-7{
    font-size: 0.7rem;
}

.bg-grey{
    background-color: #303030;
}

.bg-green{
    background-color: #1ed760;
}